/* pretty hardcore reset, but i like it */

html {
  box-sizing: border-box;
}

/* this is a better way of setting box sizing (i think) */

*, 
*:before, 
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* enforce a minimum width on body and hide overflow */

body {
  min-width: 320px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* i like this for images */

img {
  width: 100%;
  max-width: 100%;
}